*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    transition: all ease 300ms;
    scroll-behavior: smooth;
}

.btn {
    padding: 0.5rem 2rem;
    background-color: transparent;
    border-radius: 0.5rem;
    border: 1px solid rgb(67, 67, 67);
    color: rgb(67, 67, 67);
    cursor: pointer;
}
.btn:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: aqua;
}

.container h1{
    font-size: 50px;
}

.container span{
    font-size: 80px;
}